body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #839e8cd3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.capa-container {
  background: rgb(255, 255, 255);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  border-radius: 15px;
  width: 100%;
  max-width: 800px;
  box-sizing: border-box;
  text-align: justify;
}

.titulo-wrapper {
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  background-color: #307e50;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 12px 24px;
  margin-top: 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #0c9648;
}

#limpar {
  margin-left: auto;
  font-size: 12px;
}

h1 {
  margin-bottom: 60px;
  margin-top: 40px;
  color: #222;
}

h2 {
  margin-top: 30px;
  color: #444;
}

#resultadoTexto {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #555;
}

.footer {
  margin-top: 40px;
  font-size: 14px;
  color: #777;
  text-align: center;
}
